html 
{
    scroll-behavior: smooth;
}


.wrapper
{
    width: 1170px;
    margin: auto;
}


header
{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url("/img/67110554-fdea5400-f20d-11e9-834a-d459a612b7b1.gif");
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.nav_link
{
    float: right;
    list-style: none;
    margin-top: 15px;
}

.nav_link li
{
    display: inline-block;
}

.nav_link li a
{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 20px;
}

.nav_link li a:hover
{
    background: #fff;
    color: #333;
}

.logo img
{
    margin-top: 10px;
    width: 60px;
    float:left;
    height: auto;
}

.welcome-text
{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;
}

.welcome-text h1
{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 150px;
}

.morph
{
    margin: 0;
    padding: 0;
    border: 0;
}

.morph img
{
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
    max-width: 100px; 
    max-height: 100px;
    transition: all 0.5s ease;
}
   
.morph:hover img {
    width: 100px; 
    height: 100px;
    border-radius: 50%;  
    transform: rotate(360deg);
}

section
{
    margin:15px;
    padding: 10px;
    border: 2px solid;
    border-radius: 15px;
}


.transition
{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
}

.logoTransition
{
    height: auto; 
    width: auto; 
    max-width: 50px; 
    max-height: 50px;
    margin: 20px;
}

h2
{
    text-align: center;
}

table, th, td 
{
    border: 1px solid;  
}

thead
{
    background-color: rgba(30, 9, 97, 0.522);
    color: #ffff;
    text-align: center;
}

p
{
    text-align: justify;
}


