.board
{
    height: 100%;
    width: 100%;
    background-color:rgb(68, 68, 68);
    text-align: center;
    margin: 0;
    padding-bottom: 3px;
    font-size: 0;
}

.box
{
    height: 89px;
    width: 89px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
}

.yellow
{
    background: rgb(255, 255, 255);
}

.red
{
    background:rgb(0, 0, 0);
}

.pawn
{
    position: absolute;
    max-width: 70px; 
    max-height: 70px;
}

.hide
{
    display: none;
}

.lightingBox
{
    background-color:rgb(231, 164, 47);
}